.product-detail-container{
    width: 100px;
}

#btn-add-cart{
    padding: 10px 25px;
    margin-right: 20px;
    background-color: black;
    color: white;
    border: 1px black solid;
    border-radius: unset;
}

#btn-add-cart:hover{
    background-color: white;
    color: black;
}

#btn-out-of-stock{
    padding: 10px 25px;
    margin-right: 20px;
    background-color: black;
    color: white;
    border: 1px black solid;
    border-radius: unset;
}

/*#shipping-return-container{*/
/*    transition: 0.25s ease;*/
/*}*/

/*#shipping-return-container:hover{*/
/*    cursor: pointer;*/
/*    transform: scale(1.01);*/
/*}*/